*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
}
header{
    display: flex;
    justify-content: space-between;
}
.logo{
    padding: 10px;
    background-color: black;
}
.logo img{
    height: 50px;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.logo a img:hover{
    transform: scale(1.2);
}
.navresponsive{
    display: flex;
    justify-content: space-between;
    padding: 0px;
    width: 100%;
    background-color:black;
}
.navresponsive .navbar{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.navresponsive .navbar li a{
    text-decoration: none;
    margin: 15px;
    color: white;
    font-family: sans-serif;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}
.navresponsive .navbar li a:hover{
    color:teal;
}
.icon img{
    height:30px;
}
.icon {
    display: none;
    position: absolute;
    right: 20px;
    top: 0px;
}
.banner{
    width: 100%;
    background-color: black;
    height: 600px;
    background-image: url(Images/Banner.JPG);
    background-size:cover;
    background-position:center;
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}
.About{
    background-color: black;
    padding: 30px;
}
.insideabout{
    display: flex;
    border: 5px solid white;
}
.photoone{
    display: flex;
    justify-content: center;
    align-items: center;
    width:40%;
    background-color: black;
    
}
.photoone img{
    width: 100%;

}

.information{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    padding: 30px;
    width: 60%;
    color: white;
    background-color: black;
}
.latest{
    width: 100%;
    padding: 30px;
    background-color: teal;
    color: white;
    font-family: sans-serif;
    margin: 0px;
    text-align: center;
}
.latestworks{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: black;
}
.works{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 50px;
    
}
.works img{
    width: 100%;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.works img:hover{
    transform: scale(1.2);
}
/*About page*/
.aboutinfo{
    display: flex;
    width: 100%;
}
.info{
    flex: 1;
    background-color:black;
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
}
.bigphoto{
    flex:1;
    background-image: url(Images/aboutme.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bigphoto img{
    display: none;
    width: 100%;
}
.underline{
    width: 200px;
}
.hthree{
    margin-top: 5px;
    margin-bottom: 5px;
}
/*Gallery */
.gallerysection{
    width: 100%;
}
.gallerytitle{
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
    font-family: sans-serif;
    font-size: 40px;
    color:white;
    background-color: black;
}
.gallerycontent{
    display: flex;
    width: 100%;
}
.galleryinside{
    font-family: sans-serif;
    text-align: center;
    padding:50px;
    background-color: teal;
    color: white;
    flex: 1;
}
.galleryobject a img{
    width: 100%;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.galleryobject a img:hover{
    transform: scale(1.05);
}
/*Contact form */
.contactinfo{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: teal;
    color: white;
    font-family: sans-serif;
    font-size: 50px;
}
iframe{
    width: 100%;
}
.contacttitle{
    font-size: 40px;
    text-align: center;
    font-family: sans-serif;
}
.contactname{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 20px;
    font-family: sans-serif;
}
.contactplaceholder{
    display: flex;
    justify-content: center;
}
.inputone{
    width: 50%;
    padding: 20px;
}
.inputspecial{
    width: 50%;
    padding-bottom: 100px;
}
.submit{
    display: flex;
    justify-content: center;
    width: 100%;
}
.submission{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: teal;
    border: 2px solid black;
    border-radius:10px;
}
/* Bottom */
.socialmedia{
    display: flex;
    justify-content: center;
    background-color:black;
}
.socialmediainside{
    padding: 20px;
}
.socialmediainside a img {
    height: 70px;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.socialmediainside a img:hover{
    transform: scale(1.2);

}
footer{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color:teal;
    padding: 20px;
}
.footer{
    margin: 0px;
    font-family: sans-serif;
    color: white;
}
@media screen and (max-width:560px) {
    .icon{
        display: unset;
    }
    .navbar li:not(:last-child) {
        display: none;
    }

    .navresponsive.responsive {
        background-color:black;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .navresponsive.responsive .navbar li {
        display: flex;
    }

    .navresponsive.responsive .navbar {
        display: flex;
        flex-direction: column;
    }
    .banner{
        font-size: 70px;
        text-align: center;
    }
    .insideabout{
        flex-direction: column;
        align-items: center;
    }
    .information{
        font-size: 25px;
    }
    .latestworks{
        flex-direction: column;
    }
    /*About page*/
    .aboutinfo{
        flex-direction: column-reverse;
    }
    .info{
        flex: 1;
    }
    .bigphoto{
        flex: 1;
    }
    .bigphoto img{
        display: block;
    }
    /*Gallery Page*/
    .gallerycontent{
        flex-direction: column;
    }
     /*Contact Page */
    .inputone{
        width:100%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .inputspecial{
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .submission{
        padding-left: 50px;
        padding-right: 50px;
    }
}